doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    if _.get(locals, 'favicon')
      link(rel='icon' type='image/png' href=_.get(locals, 'favicon'))
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name='subject' content=_.get(locals, 'seo.subject'))
    meta(name='keywords' content=_.get(locals, 'seo.keywords'))
    meta(name='description' content=_.get(locals, 'seo.description'))
    meta(property='og:title' content=_.get(locals, 'seo.og:title'))
    meta(property='og:description' content=_.get(locals, 'seo.og:description'))
    title=_.get(locals, 'title')
    link(rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css')
    //- link(rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css')
    //- link(rel="stylesheet" href="https://cdn.jsdelivr.net/nanumsquare/1.0/nanumsquare.css")
    //- link(rel="stylesheet" href="https:///cdn.jsdelivr.net/font-nanum/1.0/nanummyeongjo/nanummyeongjo.css")
    //- link(rel="stylesheet" href="https:////cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai-sublime.min.css")
    link(rel="stylesheet" href="https:////cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css")
    style.
      /* 
      * {
        font-family: "Nanum Myeongjo";
      }
      */
      html {
        font-size: 0.75rem !important;
      }
      p {
        line-height: 1.85rem;
        color: #333;
      }
      .item-container {
        padding-left: 3rem;
        margin: 1rem 0rem;
      }
      .item-container > .item-name {
        color: #333;
        margin: 0;
      }
      .item-container > .item-note {
        color: #666;
        word-break: break-word;
        word-wrap: break-word;
        white-space: pre-wrap;
        font-size: 1rem;
        margin-left: 2px;
      }
      .item-children-container {
        border-left: solid 1px #f0f0f0;
      }
      .item-name {
        font-weight: normal;
        margin-left: 1.5rem;
      }
      .item-name:before {
        content: "•";
        margin-left: -1.5rem;
        color: #333;
        padding: 0 0.5rem;
      }
      .item-link {
        font-weight: normal;
        border-bottom: solid 1px;
        //- margin-left: 1.5rem;
      }
      .item-link:before {
        content: "•";
        margin-left: -1.5rem;
        color: #333;
        padding: 0 0.5rem;
        float: left;
      }
      .hljs {
        padding: 1.0rem;
      }
      ul, ol {
        padding-left: 2rem;
      }
      footer {
        font-size: 1rem;
        text-align: center;
        padding: 1rem;
        color: #666;
      }
      img {
        width: 100%;
      }
    block header

  body
    .ui.text.container
      block body

      footer
        | Generated from&nbsp;
        a(href='https://github.com/eces/publish-workflowy' target='_blank') publish-workflowy
        | &nbsp;with ❤︎.


    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.0.3/turbolinks.js')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js')
    script.
      //- Turbolinks.start();
      //- $(document).on('turbolinks:click', function(event) {
      //-   NProgress.start();
      //-   if(location.protocol == 'file:'){
      //-     event.preventDefault()
      //-   }
      //- });
      //- $(document).on('turbolinks:render', function() {
      //-   NProgress.done();
      //-   NProgress.remove();
      //- });
      hljs.initHighlightingOnLoad();
    if script
      script= script

    block footer